.header{
font-size: 20px;
background-color: black;
color: aliceblue;
}
.navigation{
color: whitesmoke;
}
.table{
    text-align: center;
    border:3px solid black;
    border-radius: 5px;
    background-color: aqua;
    font-size: 50px;
}
.button{
    font-size: 24px;
}
.h1{
    font-size: 32px;
}
table th{
    padding: 4;
}
.tr{
border: 2px black;
}
.div2{
    font-size: 20px;
}
footer{
    font-size: 18px;
    
}
